<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-profileAdmin">
        <div class="profile-admin">
            <div class="profile-image-admin">
                <img src="https://zicxaphotos.com/wp-content/uploads/2019/07/Girl-xinh-cute.jpg" alt="Avatar admin" />
            </div>
            <div class="profile-data-admin">
                <div class="pda-name"> Nguyễn Văn Cường </div>
                <div class="pda-title">Admin</div>
            </div>
        </div>
    </div>
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link" href="/Admin/Home">
                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                Trang chủ
            </a>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProductManegements" aria-expanded="false" aria-controls="collapseProductManegements">
                <div class="sb-nav-link-icon"><i class="fas fa-gift"></i></div>
                Quản lý sản phẩm
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseProductManegements" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Danh sách sản phẩm
                    </a>
                    <a class="nav-link" href="layout-sidenav-light.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm sản phẩm
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Nhà cung cấp
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm nhà cung cấp
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Loại sản phẩm
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm loại sản phẩm
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Danh sách ưu đãi
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm ưu đãi
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Danh sách khuyến mại
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm khuyến mại
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Danh sách gói khuyến mại
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm gói khuyến mại
                    </a>

                </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUserManegements" aria-expanded="false" aria-controls="collapseUserManegements">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Quản lý người dùng
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseUserManegements" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/Admin/UserManegement">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Danh sách người dùng
                    </a>
                    <a class="nav-link" href="/Admin/UserManegement/Create">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm người dùng
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Loại tài khoản
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm loại tài khoản
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Phân quyền
                    </a>
                </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNewsManegements" aria-expanded="false" aria-controls="collapseNewsManegements">
                <div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
                Quản lý tin tức
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseNewsManegements" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Danh sách bài viết
                    </a>
                    <a class="nav-link" href="layout-sidenav-light.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm bài viết
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Nhóm bài viết
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm nhóm bài viết
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Danh sách video
                    </a>
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm video
                    </a>
                </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrderManegements" aria-expanded="false" aria-controls="collapseOrderManegements">
                <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                Quản lý đơn hàng
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseOrderManegements" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Danh sách đơn hàng
                    </a>
                    <a class="nav-link" href="layout-sidenav-light.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Thêm đơn hàng
                    </a>
                </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="false" aria-controls="collapseReport">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                Báo cáo
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseReport" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Báo cáo doanh thu
                    </a>
                    <a class="nav-link" href="layout-sidenav-light.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Báo cáo sản phẩm
                    </a>
                </nav>
            </div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInterfaceManeger" aria-expanded="false" aria-controls="collapseInterfaceManeger">
                <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                Quản lý giao diện
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseInterfaceManeger" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="layout-static.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Banner
                    </a>
                    <a class="nav-link" href="layout-sidenav-light.html">
                        <div class="sb-nav-link-icon"><i class="far fa-dot-circle"></i></div>
                        Nội dung khác
                    </a>
                </nav>
            </div>
        </div>
    </div>
    @*<div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>*@
</nav>
