<div class="preloader-1 cpBs__preloader">
    <ul class="p1__cssload-loader">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
